code_backup_160418
[{"id":"5e085eb6.53aaa","type":"function","z":"1022d431.a5f7d4","name":"","func":"msg.payload = msg.payload.stats.waterpump;\nreturn msg;","outputs":1,"noerr":0,"x":382,"y":365,"wires":[["38d85fb7.248fb"]]},{"id":"3c148334.e151ec","type":"function","z":"1022d431.a5f7d4","name":"Temperature","func":"msg.topic=\"Temperature\";\nmsg.payload = msg.payload.value.temperature;\nreturn msg;","outputs":1,"noerr":0,"x":402,"y":125,"wires":[["4e0cd7d7.df16d8","8891f477.0a04b"]]},{"id":"328e5e0.2923fa2","type":"function","z":"1022d431.a5f7d4","name":"Humidity","func":"msg.topic=\"Humidity\";\nmsg.payload = msg.payload.value.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":399,"y":165,"wires":[["4e0cd7d7.df16d8","71aae625.86d0b8"]]},{"id":"1f9ca618.020b62","type":"function","z":"1022d431.a5f7d4","name":"Evaporation","func":"msg.topic=\"Evaporation\";\nmsg.payload = msg.payload.value.evaporation;\nreturn msg;","outputs":1,"noerr":0,"x":402,"y":245,"wires":[["c29432a6.bf1d6","253e770e.f973a"]]},{"id":"2ca8dc81.f1b00c","type":"function","z":"1022d431.a5f7d4","name":"Consumption","func":"msg.topic=\"Water Consumption\";\nmsg.payload = msg.payload.value.consumption;\nreturn msg;","outputs":1,"noerr":0,"x":412,"y":285,"wires":[["c29432a6.bf1d6","df5171c3.4d54e8"]]},{"id":"38d85fb7.248fb","type":"ui_text","z":"1022d431.a5f7d4","group":"64473e34.291c28","order":5,"width":0,"height":0,"name":"","label":"Water Pump","format":"{{msg.payload}}","layout":"row-spread","x":562,"y":365,"wires":[]},{"id":"4e0cd7d7.df16d8","type":"ui_chart","z":"1022d431.a5f7d4","name":"","group":"4d3ed9c7.b80f08","order":0,"width":0,"height":0,"label":"Temperature and Humidity","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"bezier","nodata":"","dot":true,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#ff0210","#00ff63","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":719,"y":145,"wires":[[],[]]},{"id":"c29432a6.bf1d6","type":"ui_chart","z":"1022d431.a5f7d4","name":"","group":"4d3ed9c7.b80f08","order":0,"width":0,"height":0,"label":"Evaporation And Water Consumption","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"bezier","nodata":"","dot":true,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#ffda00","#1464bc","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":762,"y":265,"wires":[[],[]]},{"id":"8891f477.0a04b","type":"ui_gauge","z":"1022d431.a5f7d4","name":"","group":"64473e34.291c28","order":1,"width":"4","height":"4","gtype":"gage","title":"Temperature","label":"","format":"{{value}} C","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"15","seg2":"90","x":682,"y":105,"wires":[]},{"id":"71aae625.86d0b8","type":"ui_gauge","z":"1022d431.a5f7d4","name":"","group":"64473e34.291c28","order":2,"width":"4","height":"4","gtype":"gage","title":"Humidity","label":"","format":"{{value}} %","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"30","seg2":"90","x":682,"y":185,"wires":[]},{"id":"253e770e.f973a","type":"ui_gauge","z":"1022d431.a5f7d4","name":"","group":"64473e34.291c28","order":3,"width":"4","height":"4","gtype":"gage","title":"Evaporation","label":"cm3/s","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"25","seg2":"75","x":702,"y":225,"wires":[]},{"id":"df5171c3.4d54e8","type":"ui_gauge","z":"1022d431.a5f7d4","name":"","group":"64473e34.291c28","order":4,"width":"4","height":"4","gtype":"gage","title":"Comsumption","label":"cm3","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"15","seg2":"75","x":722,"y":305,"wires":[]},{"id":"71e848a7.5f0108","type":"json","z":"1022d431.a5f7d4","name":"","property":"payload","action":"","pretty":false,"x":192,"y":245,"wires":[["3c148334.e151ec","328e5e0.2923fa2","1f9ca618.020b62","2ca8dc81.f1b00c","5e085eb6.53aaa"]]},{"id":"60d2442d.8506bc","type":"mqtt in","z":"1022d431.a5f7d4","name":"","topic":"/datalive/testone","qos":"2","broker":"f14bf7a4.1eb0e8","x":130,"y":160,"wires":[["71e848a7.5f0108"]]},{"id":"64473e34.291c28","type":"ui_group","z":"","name":"Instant Value","tab":"c566b93a.7867e8","order":1,"disp":true,"width":"8","collapse":false},{"id":"4d3ed9c7.b80f08","type":"ui_group","z":"","name":"Graphics","tab":"c566b93a.7867e8","order":2,"disp":false,"width":"12","collapse":false},{"id":"f14bf7a4.1eb0e8","type":"mqtt-broker","z":"","name":"","broker":"m14.cloudmqtt.com","port":"16954","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"c566b93a.7867e8","type":"ui_tab","z":"","name":"FIL's IoT Testbed","icon":"dashboard","order":1}]
