code_backup_080418
[{"id":"ef728206.480c2","type":"switch","z":"36dd18a3.5196b8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"27","vt":"num"}],"checkall":"true","outputs":1,"x":550,"y":60,"wires":[["c9903e84.6c17b"]]},{"id":"c9903e84.6c17b","type":"function","z":"36dd18a3.5196b8","name":"","func":"var text= \"High temparature ! Be Carefull\";\nmsg.topic = \"WARNING\"\nmsg.payload = text;\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":60,"wires":[["c99cdc6d.4ae7"]]},{"id":"82de2a41.7c5968","type":"inject","z":"36dd18a3.5196b8","name":"Set payload and topic","topic":"Message topic","payload":"Message payload","payloadType":"str","repeat":"","crontab":"","once":false,"x":340,"y":1260,"wires":[["2acf9fb5.7de71"]]},{"id":"f166b32a.154b1","type":"inject","z":"36dd18a3.5196b8","name":"Set only payload","topic":"","payload":"Message payload","payloadType":"str","repeat":"","crontab":"","once":false,"x":360,"y":1180,"wires":[["2acf9fb5.7de71"]]},{"id":"9d1299ff.5e488","type":"function","z":"36dd18a3.5196b8","name":"","func":"var st = msg.payload.stats.power;\nif (st == 1)\n    {\n        msg.payload=\"ON\";\n    }\n    else\n    {\n        msg.payload=\"OFF\";\n    }\n    \nreturn msg;","outputs":1,"noerr":0,"x":461,"y":448,"wires":[["86876a02.e9b0e8","467a5db1.cb1b4c"]]},{"id":"fb3c3f3b.cfc8a","type":"function","z":"36dd18a3.5196b8","name":"Input","func":"var temp = Math.round(Math.random() * (27 - 22) + 22);\nvar hum = Math.round(Math.random() * (85 - 67) + 67);\nvar evap = Math.round(Math.random() * (50 - 40) + 40);\nvar csum = Math.round(Math.random() * (200 - 150) + 150);\nvar status = 1;\nmsg.payload={\n    \n    \"value\": \n    {\n        \"temperature\": temp,\n        \"humidity\":hum,\n        \"evaporation\":evap,\n        \"consumption\":csum\n    },\n    \"stats\":\n    {\n        \"power\":1\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":160,"wires":[["6ee1d6d8.91b0a","7707c7f1.68a2e8","9606302c.0c1248","19c4aeb1.f58b29","e5928002.d48508","9d1299ff.5e488"]]},{"id":"8c6f1976.45bfe","type":"inject","z":"36dd18a3.5196b8","name":"","topic":"Value","payload":"","payloadType":"date","repeat":"300","crontab":"","once":false,"x":150,"y":220,"wires":[["fb3c3f3b.cfc8a"]]},{"id":"6ee1d6d8.91b0a","type":"function","z":"36dd18a3.5196b8","name":"","func":"msg.topic=\"Temperature\";\nmsg.payload = msg.payload.value.temperature;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":40,"wires":[["b2d959d3.b322c8","eaedb497.b0ced8","6d36319a.5005e"]]},{"id":"7707c7f1.68a2e8","type":"function","z":"36dd18a3.5196b8","name":"","func":"msg.topic=\"Humidity\";\nmsg.payload = msg.payload.value.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":160,"wires":[["ed98cd3f.f9c8c","f0c1cb40.1dbe28","6d36319a.5005e"]]},{"id":"9606302c.0c1248","type":"function","z":"36dd18a3.5196b8","name":"","func":"msg.topic=\"Evaporation\";\nmsg.payload = msg.payload.value.evaporation;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":260,"wires":[["432bf7d6.21df98","3f13c6c8.58643a","6d36319a.5005e"]]},{"id":"19c4aeb1.f58b29","type":"function","z":"36dd18a3.5196b8","name":"","func":"msg.topic=\"Water Consumption\";\nmsg.payload = msg.payload.value.consumption;\nreturn msg;","outputs":1,"noerr":0,"x":365,"y":315,"wires":[["43f0e5f3.2923fc","ba79524b.c9754","6d36319a.5005e"]]},{"id":"eaedb497.b0ced8","type":"ui_chart","z":"36dd18a3.5196b8","name":"Temperature","group":"7a0d31e7.641e1","order":2,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"bezier","nodata":"Temparature","dot":true,"ymin":"0","ymax":"60","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":true,"x":550,"y":100,"wires":[[],[]]},{"id":"3f13c6c8.58643a","type":"ui_chart","z":"36dd18a3.5196b8","name":"The evaporation rate of water","group":"6931e037.aa31b","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"bezier","nodata":"","dot":true,"ymin":"0","ymax":"100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":610,"y":260,"wires":[[],[]]},{"id":"ba79524b.c9754","type":"ui_chart","z":"36dd18a3.5196b8","name":"Water Consumption","group":"f98c42f4.e72e1","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"step","nodata":"","dot":true,"ymin":"0","ymax":"250","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":624,"y":367,"wires":[[],[]]},{"id":"f0c1cb40.1dbe28","type":"ui_chart","z":"36dd18a3.5196b8","name":"Humidity","group":"50501b35.00c854","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"bezier","nodata":"","dot":true,"ymin":"0","ymax":"100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":560,"y":180,"wires":[[],[]]},{"id":"6d36319a.5005e","type":"ui_chart","z":"36dd18a3.5196b8","name":"","group":"f6a1dca7.6d2f8","order":0,"width":"13","height":"10","label":"","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"bezier","nodata":"Value","dot":true,"ymin":"0","ymax":"250","removeOlder":"12","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#ff2b2b","#00ff00","#ffff00","#116fbb","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":919,"y":189,"wires":[[],[]]},{"id":"e5928002.d48508","type":"ui_template","z":"36dd18a3.5196b8","group":"efa230f0.02a6","name":"","order":1,"width":"8","height":"10","format":"<div layout=\"row\" layout-align=\"start center\">\n  <span flex>Temperature</span>\n  <span flex>Humidity</span>\n  <span flex>Evaporation</span>\n  <span flex>Consumption</span>\n</div>\n<div layout=\"row\" layout-align=\"start center\">\n  <span flex style=\"color: red\">{{msg.payload.value.temperature}}(°C)</span>\n  <span flex style=\"color: green\">{{msg.payload.value.humidity}}(%)</span>\n  <span flex style=\"color: yellow\">{{msg.payload.value.evaporation}}(mm3/s)</span>\n  <span flex style=\"color: blue\">{{msg.payload.value.consumption}}(cm3)</span>\n</div> ","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":510,"y":643,"wires":[[]]},{"id":"8b17776d.eaa838","type":"ui_switch","z":"36dd18a3.5196b8","name":"","label":"Turn Off Power","group":"1e9aa2a1.82c1fd","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"{\"status\":1}","onvalueType":"json","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":703,"y":573,"wires":[[]]},{"id":"b2d959d3.b322c8","type":"ui_gauge","z":"36dd18a3.5196b8","name":"Temperature","group":"7a0d31e7.641e1","order":1,"width":"0","height":"0","gtype":"gage","title":"","label":"","format":"{{value}} °C","min":"0","max":"60","colors":["#ff4a4a","#00f000","#ff0202"],"seg1":"","seg2":"","x":550,"y":20,"wires":[]},{"id":"ed98cd3f.f9c8c","type":"ui_gauge","z":"36dd18a3.5196b8","name":"Humidity","group":"50501b35.00c854","order":2,"width":0,"height":0,"gtype":"gage","title":"","label":"","format":"{{value}} %","min":"0","max":"100","colors":["#f71611","#e6e600","#ca3838"],"seg1":"","seg2":"","x":540,"y":140,"wires":[]},{"id":"432bf7d6.21df98","type":"ui_gauge","z":"36dd18a3.5196b8","name":"The evaporation rate of water","group":"6931e037.aa31b","order":3,"width":0,"height":0,"gtype":"gage","title":"","label":"mm3/s","format":"{{value}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":610,"y":220,"wires":[]},{"id":"43f0e5f3.2923fc","type":"ui_gauge","z":"36dd18a3.5196b8","name":"Water Consumption","group":"f98c42f4.e72e1","order":4,"width":0,"height":0,"gtype":"gage","title":"","label":"cm3","format":"{{value}}","min":0,"max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":619,"y":321,"wires":[]},{"id":"c99cdc6d.4ae7","type":"ui_toast","z":"36dd18a3.5196b8","position":"bottom right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"Notification","x":850,"y":60,"wires":[]},{"id":"2acf9fb5.7de71","type":"ui_toast","z":"36dd18a3.5196b8","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"Cancel","topic":"Config topicc","name":"Popup with config topic","x":590,"y":1220,"wires":[[]]},{"id":"86876a02.e9b0e8","type":"ui_text","z":"36dd18a3.5196b8","group":"efa230f0.02a6","order":0,"width":0,"height":0,"name":"","label":"Power","format":"{{msg.payload}}","layout":"row-spread","x":633,"y":435,"wires":[]},{"id":"467a5db1.cb1b4c","type":"debug","z":"36dd18a3.5196b8","name":"","active":true,"console":"false","complete":"false","x":652,"y":496,"wires":[]},{"id":"7a0d31e7.641e1","type":"ui_group","z":0,"name":"Temperature","tab":"2f7e4962.18cbf6","order":1,"disp":true,"width":"6","collapse":false},{"id":"6931e037.aa31b","type":"ui_group","z":0,"name":"Evaporation Rate ","tab":"2f7e4962.18cbf6","order":3,"disp":true,"width":"6"},{"id":"f98c42f4.e72e1","type":"ui_group","z":0,"name":"Water Consumption","tab":"2f7e4962.18cbf6","order":4,"disp":true,"width":"6"},{"id":"50501b35.00c854","type":"ui_group","z":0,"name":"Humidity","tab":"2f7e4962.18cbf6","order":2,"disp":true,"width":"6"},{"id":"f6a1dca7.6d2f8","type":"ui_group","z":"","name":"Data Graphics","tab":"81d2d361.c61ae","order":1,"disp":true,"width":"14","collapse":false},{"id":"efa230f0.02a6","type":"ui_group","z":"","name":"Status","tab":"81d2d361.c61ae","order":2,"disp":true,"width":"8","collapse":false},{"id":"1e9aa2a1.82c1fd","type":"ui_group","z":0,"name":"Controller","tab":"2f7e4962.18cbf6","order":5,"disp":true,"width":"6"},{"id":"2f7e4962.18cbf6","type":"ui_tab","z":0,"name":"IOT Dashbroad","icon":"dashboard","order":1},{"id":"81d2d361.c61ae","type":"ui_tab","z":0,"name":"IOT Graphics","icon":"dashboard","order":2}]
