flow2_backup070518
[{"id":"7f8f6084.0a494","type":"subflow","name":"Subflow 3","info":"","in":[],"out":[]},{"id":"e779b511.6fbca","type":"http in","z":"7f8f6084.0a494","name":"","url":"/urlcallback","method":"get","upload":false,"swaggerDoc":"","x":280,"y":180,"wires":[["e810ee77.7885a","2c7c2490.c7414c"]]},{"id":"2c7c2490.c7414c","type":"function","z":"7f8f6084.0a494","name":"Verify Webhook Address","func":"var mode = '';\nvar vtoken = '';\nvar challenge = '';\nif (msg.payload['hub.mode'])\n{\n   mode = msg.payload['hub.mode'];\n}\nif (msg.payload['hub.verify_token'])\n{\n   vtoken = msg.payload['hub.verify_token'];\n}\nif (msg.payload['hub.challenge'])\n{\n   challenge = msg.payload['hub.challenge'];\n}\nif ('subscribe' == mode &&\n 'thisismystringtokenapp' == vtoken) {\n   msg.payload = challenge;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":220,"wires":[["cc2d1595.a2031"]]},{"id":"cc2d1595.a2031","type":"http response","z":"7f8f6084.0a494","name":"","statusCode":"","headers":{},"x":710,"y":220,"wires":[]},{"id":"e810ee77.7885a","type":"debug","z":"7f8f6084.0a494","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":470,"y":160,"wires":[]},{"id":"3edb135d.c332f4","type":"comment","z":"7f8f6084.0a494","name":"Xác nhận địa chỉ Webhook","info":"","x":490,"y":100,"wires":[]},{"id":"ea1af53d.15e0c","type":"http request","z":"1daa4df7.b355a2","name":"Send API Request","method":"POST","ret":"obj","url":"https://graph.facebook.com/v2.6/me/messages?access_token=EAAdZBhiVykT0BAN4mTAT0D7C9qoFKYrEuJzDp86I5mM5MnJtYU5OLJMJ2ZAZCHRGJ8pSIA4wcGiFYrYDPmuNvPX8PmNA1jJEZBQJS2PQWuAzJFnu8A1Q4XwZA0ZAxsbtrfTkp25ad4WDggw46NF0MMY10zZBLFcdu0665rUvOIqRAZDZD","tls":"","x":870,"y":260,"wires":[[]]},{"id":"896bfae6.99c06","type":"comment","z":"1daa4df7.b355a2","name":"Get with FB","info":"Thiết lập Webhooks . FB sẽ gửi nhận tại địa chỉ :\nhttps://conv-201-196-testtreetracking.eu-gb.mybluemix.net/urlcallback","x":212,"y":39,"wires":[]},{"id":"e83c0a9d.fc1ed","type":"comment","z":"1daa4df7.b355a2","name":"Cyan : 1501381903286370","info":"","x":138,"y":184,"wires":[]},{"id":"50b6faf6.228a54","type":"http in","z":"1daa4df7.b355a2","name":"","url":"/urlcallback","method":"post","upload":true,"swaggerDoc":"","x":458,"y":174,"wires":[["b931896c.8b5e28","95b523d4.50978","2040877c.654a7"]]},{"id":"b931896c.8b5e28","type":"http response","z":"1daa4df7.b355a2","name":"","statusCode":"","headers":{},"x":617,"y":139,"wires":[]},{"id":"394030e4.674ae","type":"comment","z":"1daa4df7.b355a2","name":"Thắng : 1656836594370012","info":"","x":138,"y":147,"wires":[]},{"id":"63f1667e.1bdc28","type":"link in","z":"1daa4df7.b355a2","name":"ADB OUTPUT","links":["5186e38c.aaac44"],"x":133,"y":391,"wires":[["6e523128.5d26a"]]},{"id":"40d0b787.f9263","type":"function","z":"1daa4df7.b355a2","name":"String Out","func":"var temp = global.get('temp');\nvar hum = global.get('hum');\nvar evap = global.get('evap');\nvar light= global.get('light');\nvar action = global.get('action');\nvar str = [\"Không\",\"Vừa\",\"Nhiều\"];\nvar date = new Date();\nvar text = \"Thông số vừa cập nhật :\\n\";\ntext += \"Nhiệt độ : \" + temp + \" °C\\n\";\ntext += \"Độ ẩm : \" + hum + \" %\\n\";\ntext += \"Tốc độ bay hơi : \" +evap+ \" (%/s)\\n\";\ntext += \"Cường độ ánh sáng : \" + light + \" (lux)\\n\";\ntext += \"Mức bơm nước : \" + str[action] + \"\\n\";\ntext +=\"Time: \" + date + \"\\n\";\n\n// xu li sender iD\n\nvar senderId = 1656836594370012;\n\n\n// config payload out\nmsg.payload =\n{\n\"recipient\": {\n\"id\": senderId\n},\n\"message\": {\n\"text\": text\n}\n};\nreturn msg;\n","outputs":1,"noerr":0,"x":655,"y":258,"wires":[["ea1af53d.15e0c"]]},{"id":"6e523128.5d26a","type":"function","z":"1daa4df7.b355a2","name":"","func":"var light = msg.payload.value.light;\nvar temp = msg.payload.value.temperature;\nvar hum = msg.payload.value.humidity;\nvar evap = msg.payload.value.evaporation;\nvar act = msg.payload.value.action;\nglobal.set('light',light);\nglobal.set('temp',temp);\nglobal.set('hum',hum);\nglobal.set('evap',evap);\nglobal.set('action',act);\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":390,"wires":[["9b0b3023.18193"]]},{"id":"9b0b3023.18193","type":"debug","z":"1daa4df7.b355a2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":388,"y":385,"wires":[]},{"id":"95b523d4.50978","type":"function","z":"1daa4df7.b355a2","name":"confirm SenderID","func":"var allID = [\"1656836594370012\",\"1501381903286370\"];\nvar check = msg.payload.entry[0].messaging[0].sender.id;\nvar senderId = null;\nvar i = 0;\nfor (i = 0; i < allID.length; i++){\n    // Dòng lệnh xử lý vòng lặp\n    if (check === allID[i]) senderID = check;\n}\nmsg.payload = senderID;\nreturn msg;","outputs":1,"noerr":0,"x":671,"y":186,"wires":[["40d0b787.f9263"]]},{"id":"64305928.1f967","type":"inject","z":"1daa4df7.b355a2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":472,"y":257,"wires":[["40d0b787.f9263"]]},{"id":"7579c252.3103ac","type":"subflow:7f8f6084.0a494","z":"1daa4df7.b355a2","name":"Verify Webhook","x":197.5,"y":98.5,"wires":[]},{"id":"6d6c91e0.9b76","type":"comment","z":"1daa4df7.b355a2","name":"Xử lý thông tin người dùng và trả về bản tin thông báo","info":"","x":672,"y":90,"wires":[]},{"id":"2040877c.654a7","type":"debug","z":"1daa4df7.b355a2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":857,"y":139,"wires":[]}]
