flow3
[{"id":"23c9657c.20156a","type":"link in","z":"4f5994cf.bf20dc","name":"Gth","links":["5186e38c.aaac44"],"x":135,"y":220,"wires":[["4bc2da02.dae454","162a3afc.f661bd"]]},{"id":"4bc2da02.dae454","type":"switch","z":"4f5994cf.bf20dc","name":"Nguong Nhiet Do","property":"payload.value.temperature","propertyType":"msg","rules":[{"t":"eq","v":"100","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":150,"y":160,"wires":[["51aba75a.c798d8","4035c3f5.b07914"]]},{"id":"162a3afc.f661bd","type":"switch","z":"4f5994cf.bf20dc","name":"Nguong do am","property":"payload.value.humidity","propertyType":"msg","rules":[{"t":"eq","v":"100","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":120,"y":280,"wires":[["69a1616.171a42","27f23e7b.ac73ca"]]},{"id":"51aba75a.c798d8","type":"function","z":"4f5994cf.bf20dc","name":"Warning Temperature","func":"var temp = msg.payload.value.temperature;\nvar date = new Date();\nvar text = \"Nhiệt độ vượt ngưỡng ! ( \"+temp+\" °C)\\n\";\ntext +=\"Time: \" + date + \"\\n\";\nvar senderId = \"1656836594370012\";\nmsg.payload =\n{\n\"recipient\": {\n\"id\": senderId\n},\n\"message\": {\n\"text\": text\n}\n};\nreturn msg;","outputs":1,"noerr":0,"x":240,"y":100,"wires":[["44b016a9.f52e1","21e26bee.04b9fc"]]},{"id":"44b016a9.f52e1","type":"http request","z":"4f5994cf.bf20dc","name":"Send API Request","method":"POST","ret":"obj","url":"https://graph.facebook.com/v2.6/me/messages?access_token=EAAdZBhiVykT0BAN4mTAT0D7C9qoFKYrEuJzDp86I5mM5MnJtYU5OLJMJ2ZAZCHRGJ8pSIA4wcGiFYrYDPmuNvPX8PmNA1jJEZBQJS2PQWuAzJFnu8A1Q4XwZA0ZAxsbtrfTkp25ad4WDggw46NF0MMY10zZBLFcdu0665rUvOIqRAZDZD","tls":"","x":370,"y":60,"wires":[["645356f7.7ec2c"]]},{"id":"645356f7.7ec2c","type":"http response","z":"4f5994cf.bf20dc","name":"","statusCode":"","headers":{},"x":490,"y":20,"wires":[]},{"id":"69a1616.171a42","type":"function","z":"4f5994cf.bf20dc","name":"Format Send Request","func":"var hum = msg.payload.value.humidity;\nvar date = new Date();\nvar text = \"Độ ẩm vượt ngưỡng ! ( \"+hum+\" °C)\\n\";\ntext +=\"Time: \" + date + \"\\n\";\nvar senderId = \"1656836594370012\";\nmsg.payload =\n{\n\"recipient\": {\n\"id\": senderId\n},\n\"message\": {\n\"text\": text\n}\n};\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":340,"wires":[["c9b00468.ae78b","edb0a93f.412388"]]},{"id":"c9b00468.ae78b","type":"http request","z":"4f5994cf.bf20dc","name":"Send API Request","method":"POST","ret":"obj","url":"https://graph.facebook.com/v2.6/me/messages?access_token=EAAdZBhiVykT0BAN4mTAT0D7C9qoFKYrEuJzDp86I5mM5MnJtYU5OLJMJ2ZAZCHRGJ8pSIA4wcGiFYrYDPmuNvPX8PmNA1jJEZBQJS2PQWuAzJFnu8A1Q4XwZA0ZAxsbtrfTkp25ad4WDggw46NF0MMY10zZBLFcdu0665rUvOIqRAZDZD","tls":"","x":270,"y":400,"wires":[["cb2314ea.734128"]]},{"id":"cb2314ea.734128","type":"http response","z":"4f5994cf.bf20dc","name":"","statusCode":"","headers":{},"x":350,"y":460,"wires":[]},{"id":"4035c3f5.b07914","type":"ui_toast","z":"4f5994cf.bf20dc","position":"top right","displayTime":"10","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"Temperature","x":400,"y":140,"wires":[]},{"id":"27f23e7b.ac73ca","type":"ui_toast","z":"4f5994cf.bf20dc","position":"top right","displayTime":"10","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"Humidity","x":360,"y":280,"wires":[]},{"id":"21e26bee.04b9fc","type":"debug","z":"4f5994cf.bf20dc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":460,"y":100,"wires":[]},{"id":"edb0a93f.412388","type":"debug","z":"4f5994cf.bf20dc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":340,"wires":[]}]
