flow1_backup070518
[{"id":"5e085eb6.53aaa","type":"function","z":"1022d431.a5f7d4","name":"Action","func":"var action = msg.payload.value.action;\nvar str = [\"No\",\"Litter\",\"Many\"];\nmsg.payload = str[action];\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":360,"wires":[["38d85fb7.248fb"]]},{"id":"3c148334.e151ec","type":"function","z":"1022d431.a5f7d4","name":"Temperature","func":"msg.topic=\"Temperature(°C)\";\nmsg.payload = msg.payload.value.temperature;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":140,"wires":[["8891f477.0a04b","9899ef3a.c1feb"]]},{"id":"328e5e0.2923fa2","type":"function","z":"1022d431.a5f7d4","name":"Humidity","func":"msg.topic=\"Humidity(%)\";\nmsg.payload = msg.payload.value.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":200,"wires":[["71aae625.86d0b8","9899ef3a.c1feb"]]},{"id":"1f9ca618.020b62","type":"function","z":"1022d431.a5f7d4","name":"Evaporation","func":"msg.topic=\"Evaporation(%/s)\";\nmsg.payload = msg.payload.value.evaporation;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":260,"wires":[["253e770e.f973a","e33089f3.829428"]]},{"id":"2ca8dc81.f1b00c","type":"function","z":"1022d431.a5f7d4","name":"Light","func":"msg.topic=\"Light(x10lux)\";\nmsg.payload = msg.payload.value.light/10.0;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":300,"wires":[["df5171c3.4d54e8","e33089f3.829428"]]},{"id":"71e848a7.5f0108","type":"json","z":"1022d431.a5f7d4","name":"","property":"payload","action":"","pretty":false,"x":290,"y":260,"wires":[["3c148334.e151ec","328e5e0.2923fa2","1f9ca618.020b62","2ca8dc81.f1b00c","5e085eb6.53aaa","5186e38c.aaac44"]]},{"id":"60d2442d.8506bc","type":"mqtt in","z":"1022d431.a5f7d4","name":"","topic":"/raspian/results","qos":"2","broker":"f14bf7a4.1eb0e8","x":140,"y":160,"wires":[["71e848a7.5f0108"]]},{"id":"5186e38c.aaac44","type":"link out","z":"1022d431.a5f7d4","name":"ADB","links":["23c9657c.20156a","63f1667e.1bdc28"],"x":535,"y":420,"wires":[]},{"id":"66cc9b1f.9d6994","type":"inject","z":"1022d431.a5f7d4","name":"","topic":"","payload":"","payloadType":"date","repeat":"20","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":560,"wires":[["811914c0.eb0c28"]]},{"id":"811914c0.eb0c28","type":"function","z":"1022d431.a5f7d4","name":"Data Fake","func":"var temp = Math.round(Math.random() * (27 - 22) + 22);\nvar hum = Math.round(Math.random() * (85 - 67) + 67);\nvar evap = Math.round(Math.random() * (50 - 40) + 40);\nvar light = Math.round(Math.random() * (20 - 15) + 15);\nvar i = Math.round(Math.random() *2);\n\nmsg.payload={\n    \n    \"value\": \n    {\n        \"light\": light,\n        \"temperature\":temp,\n        \"humidity\":hum,\n        \"evaporation\":evap,\n        \"action\":i\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":620,"wires":[["aa9c80ad.df99c","488d5c27.9b66b4"]]},{"id":"aa9c80ad.df99c","type":"mqtt out","z":"1022d431.a5f7d4","name":"","topic":"/raspian/results","qos":"2","retain":"true","broker":"f14bf7a4.1eb0e8","x":660,"y":560,"wires":[]},{"id":"488d5c27.9b66b4","type":"debug","z":"1022d431.a5f7d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":570,"y":660,"wires":[]},{"id":"445e027e.3a9f0c","type":"comment","z":"1022d431.a5f7d4","name":"Nhận dữ liệu từ Cloudmqtt","info":"","x":170,"y":120,"wires":[]},{"id":"6c7a341.2ebd24c","type":"comment","z":"1022d431.a5f7d4","name":"Covert bản tin nhận được sang JSON_payload","info":"","x":280,"y":320,"wires":[]},{"id":"36e1f961.90e60e","type":"comment","z":"1022d431.a5f7d4","name":"Các hàm lấy các giá trị từ payload","info":"","x":540,"y":100,"wires":[]},{"id":"10b839e3.00afae","type":"comment","z":"1022d431.a5f7d4","name":"Đưa các thông số lên chart_board","info":"","x":870,"y":100,"wires":[]},{"id":"38d85fb7.248fb","type":"ui_text","z":"1022d431.a5f7d4","group":"64473e34.291c28","order":5,"width":0,"height":0,"name":"","label":"Water Pump","format":"{{msg.payload}}","layout":"row-spread","x":790,"y":380,"wires":[]},{"id":"8891f477.0a04b","type":"ui_gauge","z":"1022d431.a5f7d4","name":"","group":"64473e34.291c28","order":1,"width":"4","height":"4","gtype":"gage","title":"Temperature","label":"","format":"{{value}} °C","min":0,"max":"100","colors":["#ffff00","#00ff00","#ca3838"],"seg1":"18","seg2":"40","x":790,"y":140,"wires":[]},{"id":"71aae625.86d0b8","type":"ui_gauge","z":"1022d431.a5f7d4","name":"","group":"64473e34.291c28","order":2,"width":"4","height":"4","gtype":"gage","title":"Humidity","label":"","format":"{{value}} %","min":0,"max":"100","colors":["#ffff00","#00ff00","#ff8040"],"seg1":"65","seg2":"90","x":780,"y":220,"wires":[]},{"id":"253e770e.f973a","type":"ui_gauge","z":"1022d431.a5f7d4","name":"","group":"64473e34.291c28","order":3,"width":"4","height":"4","gtype":"gage","title":"Evaporation","label":"","format":"{{value}} %/s","min":0,"max":"100","colors":["#ffff00","#00ff00","#ca3838"],"seg1":"25","seg2":"75","x":790,"y":260,"wires":[]},{"id":"df5171c3.4d54e8","type":"ui_gauge","z":"1022d431.a5f7d4","name":"","group":"64473e34.291c28","order":4,"width":"4","height":"4","gtype":"gage","title":"Light","label":"","format":"{{value}} lux","min":0,"max":"100","colors":["#ffff00","#0ed818","#ca3838"],"seg1":"15","seg2":"75","x":770,"y":340,"wires":[]},{"id":"9899ef3a.c1feb","type":"ui_chart","z":"1022d431.a5f7d4","name":"","group":"4d3ed9c7.b80f08","order":0,"width":0,"height":0,"label":"Temperature and Humidity","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"bezier","nodata":"","dot":true,"ymin":"0","ymax":"100","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#ff0000","#00ff00","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":839,"y":177,"wires":[[],[]]},{"id":"e33089f3.829428","type":"ui_chart","z":"1022d431.a5f7d4","name":"","group":"4d3ed9c7.b80f08","order":0,"width":0,"height":0,"label":"Light and Evaporation","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"bezier","nodata":"","dot":true,"ymin":"0","ymax":"100","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#ff8000","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":820,"y":300,"wires":[[],[]]},{"id":"f14bf7a4.1eb0e8","type":"mqtt-broker","z":"","name":"","broker":"m14.cloudmqtt.com","port":"16954","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"64473e34.291c28","type":"ui_group","z":0,"name":"Instant Value","tab":"c566b93a.7867e8","order":1,"disp":true,"width":"8","collapse":false},{"id":"4d3ed9c7.b80f08","type":"ui_group","z":0,"name":"Graphics","tab":"c566b93a.7867e8","order":2,"disp":false,"width":"12","collapse":false},{"id":"c566b93a.7867e8","type":"ui_tab","z":0,"name":"FIL's IoT Testbed","icon":"dashboard","order":1}]
