flow3_backup070518
[{"id":"3c5bdee3.3505da","type":"subflow","name":"Subflow 2","info":"","in":[{"x":300,"y":140,"wires":[{"id":"44b016a9.f52e1"}]}],"out":[]},{"id":"44b016a9.f52e1","type":"http request","z":"3c5bdee3.3505da","name":"Send API Request","method":"POST","ret":"obj","url":"https://graph.facebook.com/v2.6/me/messages?access_token=EAAdZBhiVykT0BAN4mTAT0D7C9qoFKYrEuJzDp86I5mM5MnJtYU5OLJMJ2ZAZCHRGJ8pSIA4wcGiFYrYDPmuNvPX8PmNA1jJEZBQJS2PQWuAzJFnu8A1Q4XwZA0ZAxsbtrfTkp25ad4WDggw46NF0MMY10zZBLFcdu0665rUvOIqRAZDZD","tls":"","x":450,"y":140,"wires":[["645356f7.7ec2c"]]},{"id":"645356f7.7ec2c","type":"http response","z":"3c5bdee3.3505da","name":"","statusCode":"","headers":{},"x":610,"y":140,"wires":[]},{"id":"23c9657c.20156a","type":"link in","z":"4f5994cf.bf20dc","name":"Gth","links":["5186e38c.aaac44"],"x":198,"y":316,"wires":[["4bc2da02.dae454","162a3afc.f661bd","d225095e.6a6bb"]]},{"id":"4bc2da02.dae454","type":"switch","z":"4f5994cf.bf20dc","name":"Nguong Nhiet Do","property":"payload.value.temperature","propertyType":"msg","rules":[{"t":"gt","v":"30","vt":"num"},{"t":"lt","v":"10","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":160,"wires":[["51aba75a.c798d8"],[]]},{"id":"51aba75a.c798d8","type":"function","z":"4f5994cf.bf20dc","name":"Warning Temperature","func":"var temp = msg.payload.value.temperature;\nvar date = new Date();\nvar text = \"Nhiệt độ vượt ngưỡng ! ( \"+temp+\" °C)\\n\";\ntext +=\"Time: \" + date + \"\\n\";\nvar senderId = \"1656836594370012\";\nmsg.payload =\n{\n\"recipient\": {\n\"id\": senderId\n},\n\"message\": {\n\"text\": text\n}\n};\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":160,"wires":[["859f1886.0ecee"]]},{"id":"69a1616.171a42","type":"function","z":"4f5994cf.bf20dc","name":"Format Send Request","func":"var hum = msg.payload.value.humidity;\nvar date = new Date();\nvar text = \"Độ ẩm vượt ngưỡng ! ( \"+hum+\" %)\\n\";\ntext +=\"Time: \" + date + \"\\n\";\nvar senderId = \"1656836594370012\";\nmsg.payload =\n{\n\"recipient\": {\n\"id\": senderId\n},\n\"message\": {\n\"text\": text\n}\n};\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":300,"wires":[["e0bab7.33344548"]]},{"id":"162a3afc.f661bd","type":"switch","z":"4f5994cf.bf20dc","name":"Nguong Do Am","property":"payload.value.humidity","propertyType":"msg","rules":[{"t":"gt","v":"90","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":360,"y":300,"wires":[["69a1616.171a42"]]},{"id":"ef8516.83bccae8","type":"function","z":"4f5994cf.bf20dc","name":"Format Send Request","func":"var hum = msg.payload.value.humidity;\nvar date = new Date();\nvar text = \"Cường độ ánh sáng vượt ngưỡng ! ( \"+hum+\" lux)\\n\";\ntext +=\"Time: \" + date + \"\\n\";\nvar senderId = \"1656836594370012\";\nmsg.payload =\n{\n\"recipient\": {\n\"id\": senderId\n},\n\"message\": {\n\"text\": text\n}\n};\nreturn msg;","outputs":1,"noerr":0,"x":598,"y":221,"wires":[["9ff0f63a.69988"]]},{"id":"d225095e.6a6bb","type":"switch","z":"4f5994cf.bf20dc","name":"Nguong Anh Sang","property":"payload.value.light","propertyType":"msg","rules":[{"t":"gt","v":"900","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":360,"y":225,"wires":[["ef8516.83bccae8"]]},{"id":"859f1886.0ecee","type":"subflow:3c5bdee3.3505da","z":"4f5994cf.bf20dc","x":780,"y":160,"wires":[]},{"id":"9ff0f63a.69988","type":"subflow:3c5bdee3.3505da","z":"4f5994cf.bf20dc","x":792,"y":219,"wires":[]},{"id":"e0bab7.33344548","type":"subflow:3c5bdee3.3505da","z":"4f5994cf.bf20dc","x":800,"y":300,"wires":[]},{"id":"311a3dd0.af747a","type":"comment","z":"4f5994cf.bf20dc","name":"Kiểm tra các ngưỡng và gửi cảnh báo","info":"","x":550,"y":80,"wires":[]}]
