flow2
[{"id":"e779b511.6fbca","type":"http in","z":"1daa4df7.b355a2","name":"","url":"/urlcallback","method":"get","upload":false,"swaggerDoc":"","x":100,"y":140,"wires":[["e810ee77.7885a","2c7c2490.c7414c"]]},{"id":"2c7c2490.c7414c","type":"function","z":"1daa4df7.b355a2","name":"","func":"var mode = '';\nvar vtoken = '';\nvar challenge = '';\nif (msg.payload['hub.mode'])\n{\n   mode = msg.payload['hub.mode'];\n}\nif (msg.payload['hub.verify_token'])\n{\n   vtoken = msg.payload['hub.verify_token'];\n}\nif (msg.payload['hub.challenge'])\n{\n   challenge = msg.payload['hub.challenge'];\n}\nif ('subscribe' == mode &&\n 'thisismystringtokenapp' == vtoken) {\n   msg.payload = challenge;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":241,"y":188,"wires":[["cc2d1595.a2031"]]},{"id":"cc2d1595.a2031","type":"http response","z":"1daa4df7.b355a2","name":"","statusCode":"","headers":{},"x":370,"y":188,"wires":[]},{"id":"e810ee77.7885a","type":"debug","z":"1daa4df7.b355a2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":261,"y":90,"wires":[]},{"id":"f507a6a.cfbaa58","type":"function","z":"1daa4df7.b355a2","name":"Format Send Request","func":"var temp = msg.payload.d.temperature;\nvar hum = msg.payload.d.humidity;\nvar date = new Date();\nvar tuoinuoc = false;\nvar tempmax=40;\nvar text = \"Tình hình cây trồng :\\n\";\ntext += \"Nhiệt độ : \" + temp + \"\\n\";\ntext += \"Độ ẩm : \" + hum + \"\\n\";\n\nif ( hum < 30)\n{\n    text += \"Đất khô quá, tưới nước đi !\\n\";\n    tuoinuoc = true ;\n}\nif ((hum >= 30) && (hum <= 80) && tuoinuoc)\n{\n    text += \"Đủ nước rồi !\\n\";\n    tuoinuoc = false;\n}\n\nif (hum > 90)\n{\n    text += \"Độ ẩm cao không tốt cho cây !\\n\";\n}\n\nif (temp >= tempmax)\ntext += \"Nhiệt độ vượt ngưỡng !\\n\";\n\n\ntext +=\"Time: \" + date + \"\\n\";\n\nvar senderId = \"1656836594370012\";\nmsg.payload =\n{\n\"recipient\": {\n\"id\": senderId\n},\n\"message\": {\n\"text\": text\n}\n};\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":620,"wires":[["b4b841e9.54dd1"]]},{"id":"ea1af53d.15e0c","type":"http request","z":"1daa4df7.b355a2","name":"Send API Request","method":"POST","ret":"obj","url":"https://graph.facebook.com/v2.6/me/messages?access_token=EAAdZBhiVykT0BAN4mTAT0D7C9qoFKYrEuJzDp86I5mM5MnJtYU5OLJMJ2ZAZCHRGJ8pSIA4wcGiFYrYDPmuNvPX8PmNA1jJEZBQJS2PQWuAzJFnu8A1Q4XwZA0ZAxsbtrfTkp25ad4WDggw46NF0MMY10zZBLFcdu0665rUvOIqRAZDZD","tls":"","x":730,"y":280,"wires":[[]]},{"id":"896bfae6.99c06","type":"comment","z":"1daa4df7.b355a2","name":"Get with FB","info":"Thiết lập Webhooks . FB sẽ gửi nhận tại địa chỉ :\nhttps://conv-201-196-testtreetracking.eu-gb.mybluemix.net/urlcallback","x":212,"y":39,"wires":[]},{"id":"2317b9d2.aacbce","type":"comment","z":"1daa4df7.b355a2","name":"Example","info":"","x":101,"y":521,"wires":[]},{"id":"2013f238.7dfe66","type":"inject","z":"1daa4df7.b355a2","name":"","topic":"","payload":"{\"d\":{\"Name\":\"treetrackingtester\",\"temperature\":29,\"humidity\":44}}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":"","x":102,"y":620,"wires":[["f507a6a.cfbaa58"]]},{"id":"d34e9d1a.a40708","type":"comment","z":"1daa4df7.b355a2","name":"Input","info":"Cảm biến gửi bản tin bao gồm thông tin về nhiệt độ và độ ẩm dưới dạng file .json .\n","x":97,"y":571,"wires":[]},{"id":"4c43d355.0d6404","type":"comment","z":"1daa4df7.b355a2","name":"Xử lý đầu vào, chèn text và gửi lên FB","info":"Function tách các value từ bản tin nhận được sau đó xử lý text đầu ra để gửi lên fb.\n(*) SenderID là ID của fb cá nhân cần gửi thông báo.","x":322,"y":569,"wires":[]},{"id":"89cb29d5.739678","type":"comment","z":"1daa4df7.b355a2","name":"FB nhận text","info":"(*) Method : POST .\n\n(*) URL : https://graph.facebook.com/v2.6/me/messages?access_token= <mã xác minh>\n","x":603,"y":565,"wires":[]},{"id":"e83c0a9d.fc1ed","type":"comment","z":"1daa4df7.b355a2","name":"Cyan : 1501381903286370","info":"","x":160,"y":280,"wires":[]},{"id":"50b6faf6.228a54","type":"http in","z":"1daa4df7.b355a2","name":"","url":"/urlcallback","method":"post","upload":true,"swaggerDoc":"","x":460,"y":60,"wires":[["b931896c.8b5e28","dcc2df2c.d0234","40d0b787.f9263"]]},{"id":"b931896c.8b5e28","type":"http response","z":"1daa4df7.b355a2","name":"","statusCode":"","headers":{},"x":739,"y":63,"wires":[]},{"id":"dcc2df2c.d0234","type":"debug","z":"1daa4df7.b355a2","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":769,"y":103,"wires":[]},{"id":"394030e4.674ae","type":"comment","z":"1daa4df7.b355a2","name":"Thắng : 1656836594370012","info":"","x":160,"y":240,"wires":[]},{"id":"63f1667e.1bdc28","type":"link in","z":"1daa4df7.b355a2","name":"ADB OUTPUT","links":["5186e38c.aaac44"],"x":175,"y":340,"wires":[["6e523128.5d26a"]]},{"id":"40d0b787.f9263","type":"function","z":"1daa4df7.b355a2","name":"String Out","func":"var temp = global.get('temp');\nvar hum = global.get('hum');\nvar evap = global.get('evap');\nvar light= global.get('light');\nvar action = global.get('action');\nvar str = [\"Không\",\"Vừa\",\"Nhiều\"];\nvar date = new Date();\nvar text = \"Thông số vừa cập nhật :\\n\";\ntext += \"Nhiệt độ : \" + temp + \" °C\\n\";\ntext += \"Độ ẩm : \" + hum + \" %\\n\";\ntext += \"Tốc độ bay hơi : \" +evap+ \" (%/s)\\n\";\ntext += \"Cường độ ánh sáng : \" + light + \" (lux)\\n\";\ntext += \"Mức bơm nước : \" + str[action] + \"\\n\";\ntext +=\"Time: \" + date + \"\\n\";\nvar senderId = \"1656836594370012\";\nmsg.payload =\n{\n\"recipient\": {\n\"id\": senderId\n},\n\"message\": {\n\"text\": text\n}\n};\nreturn msg;\n","outputs":1,"noerr":0,"x":630,"y":200,"wires":[["10eac363.f97c15","ea1af53d.15e0c"]]},{"id":"10eac363.f97c15","type":"debug","z":"1daa4df7.b355a2","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","x":840,"y":200,"wires":[]},{"id":"643d8067.736e48","type":"cloudant in","z":"1daa4df7.b355a2","name":"","cloudant":"","database":"temp","service":"fil-iotproject-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":270,"y":680,"wires":[["1fd0c7c1.597c78"]]},{"id":"32ad3daa.7241b2","type":"inject","z":"1daa4df7.b355a2","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":680,"wires":[["643d8067.736e48"]]},{"id":"1fd0c7c1.597c78","type":"debug","z":"1daa4df7.b355a2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":680,"wires":[]},{"id":"6e523128.5d26a","type":"function","z":"1daa4df7.b355a2","name":"","func":"var light = msg.payload.value.light;\nvar temp = msg.payload.value.temperature;\nvar hum = msg.payload.value.humidity;\nvar evap = msg.payload.value.evaporation;\nvar act = msg.payload.value.action;\nglobal.set('light',light);\nglobal.set('temp',temp);\nglobal.set('hum',hum);\nglobal.set('evap',evap);\nglobal.set('action',act);\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":400,"wires":[["9b0b3023.18193"]]},{"id":"9b0b3023.18193","type":"debug","z":"1daa4df7.b355a2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":400,"wires":[]},{"id":"b4b841e9.54dd1","type":"http request","z":"1daa4df7.b355a2","name":"Send API Request","method":"POST","ret":"obj","url":"https://graph.facebook.com/v2.6/me/messages?access_token=EAAdZBhiVykT0BAN4mTAT0D7C9qoFKYrEuJzDp86I5mM5MnJtYU5OLJMJ2ZAZCHRGJ8pSIA4wcGiFYrYDPmuNvPX8PmNA1jJEZBQJS2PQWuAzJFnu8A1Q4XwZA0ZAxsbtrfTkp25ad4WDggw46NF0MMY10zZBLFcdu0665rUvOIqRAZDZD","tls":"","x":550,"y":620,"wires":[["b9fb426e.ff94"]]},{"id":"b9fb426e.ff94","type":"http response","z":"1daa4df7.b355a2","name":"","statusCode":"","headers":{},"x":767,"y":620,"wires":[]}]
